# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on one-to-many and many-to-many relationships!

## Objectives

You will be able to:
- Query data using one-to-many and many-to-many joins
- Predict the resulting size of one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='images/Database-Schema.png' width="600">

## Connect to the Database

In [1]:
!ls

data.sqlite  images  index.ipynb  README.md

In [3]:
#Your code here
import sqlite3
conn = sqlite3.connect("data.sqlite")
c = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [9]:
c.execute("""
select e.firstName, e.lastName,
o.city, o.state
from employees e left join offices o
using(officeCode)
order by e.firstName, e.lastName

""").fetchall()

[('Andy', 'Fixter', 'Sydney', ''),
 ('Anthony', 'Bow', 'San Francisco', 'CA'),
 ('Barry', 'Jones', 'London', ''),
 ('Diane', 'Murphy', 'San Francisco', 'CA'),
 ('Foon Yue', 'Tseng', 'NYC', 'NY'),
 ('George', 'Vanauf', 'NYC', 'NY'),
 ('Gerard', 'Bondur', 'Paris', ''),
 ('Gerard', 'Hernandez', 'Paris', ''),
 ('Jeff', 'Firrelli', 'San Francisco', 'CA'),
 ('Julie', 'Firrelli', 'Boston', 'MA'),
 ('Larry', 'Bott', 'London', ''),
 ('Leslie', 'Jennings', 'San Francisco', 'CA'),
 ('Leslie', 'Thompson', 'San Francisco', 'CA'),
 ('Loui', 'Bondur', 'Paris', ''),
 ('Mami', 'Nishi', 'Tokyo', 'Chiyoda-Ku'),
 ('Martin', 'Gerard', 'Paris', ''),
 ('Mary', 'Patterson', 'San Francisco', 'CA'),
 ('Pamela', 'Castillo', 'Paris', ''),
 ('Peter', 'Marsh', 'Sydney', ''),
 ('Steve', 'Patterson', 'Boston', 'MA'),
 ('Tom', 'King', 'Sydney', ''),
 ('William', 'Patterson', 'Sydney', ''),
 ('Yoshimi', 'Kato', 'Tokyo', 'Chiyoda-Ku')]

In [12]:
c.execute("""select count() from employees""").fetchall()

[(23,)]

In [13]:
c.execute("""
select count(*)
from employees e left join offices o
using(officeCode)
order by e.firstName, e.lastName

""").fetchall()

[(23,)]

## Customers and their Orders (a One-to-Many join)

Return a list of all the customers first and last names along with a record for each of their order numbers, order dates and statuses.

In [18]:
c.execute("""
select c.customerName, 
o.orderNumber, o.orderDate, o.status
from customers c, orders o
using(customerNumber)

limit 0,10

""").fetchall()

[('Atelier graphique', '10123', '2003-05-20', 'Shipped'),
 ('Atelier graphique', '10298', '2004-09-27', 'Shipped'),
 ('Atelier graphique', '10345', '2004-11-25', 'Shipped'),
 ('Signal Gift Stores', '10124', '2003-05-21', 'Shipped'),
 ('Signal Gift Stores', '10278', '2004-08-06', 'Shipped'),
 ('Signal Gift Stores', '10346', '2004-11-29', 'Shipped'),
 ('Australian Collectors, Co.', '10120', '2003-04-29', 'Shipped'),
 ('Australian Collectors, Co.', '10125', '2003-05-21', 'Shipped'),
 ('Australian Collectors, Co.', '10223', '2004-02-20', 'Shipped'),
 ('Australian Collectors, Co.', '10342', '2004-11-24', 'Shipped')]

## Customers and their Payments (another One-to-Many join)

Return a list of customers first and last names along with details about their payments including the amount and date of payments. Sort these results in descending order by the payment amount.

In [19]:
c.execute("""
select c.customerName, 
o.orderNumber, o.orderDate, o.status,
p.amount, p.paymentDate
from customers c, orders o, payments p
using(customerNumber)

limit 0,10

""").fetchall()

[('Atelier graphique',
  '10100',
  '2003-01-06',
  'Shipped',
  '14571.44',
  '2003-06-05'),
 ('Atelier graphique',
  '10100',
  '2003-01-06',
  'Shipped',
  '6066.78',
  '2004-10-19'),
 ('Atelier graphique',
  '10100',
  '2003-01-06',
  'Shipped',
  '1676.14',
  '2004-12-18'),
 ('Atelier graphique',
  '10101',
  '2003-01-09',
  'Shipped',
  '14571.44',
  '2003-06-05'),
 ('Atelier graphique',
  '10101',
  '2003-01-09',
  'Shipped',
  '6066.78',
  '2004-10-19'),
 ('Atelier graphique',
  '10101',
  '2003-01-09',
  'Shipped',
  '1676.14',
  '2004-12-18'),
 ('Atelier graphique',
  '10102',
  '2003-01-10',
  'Shipped',
  '14571.44',
  '2003-06-05'),
 ('Atelier graphique',
  '10102',
  '2003-01-10',
  'Shipped',
  '6066.78',
  '2004-10-19'),
 ('Atelier graphique',
  '10102',
  '2003-01-10',
  'Shipped',
  '1676.14',
  '2004-12-18'),
 ('Atelier graphique',
  '10103',
  '2003-01-29',
  'Shipped',
  '14571.44',
  '2003-06-05')]

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of customer first and last names, product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries which can make complex queries such as this much simpler!

In [25]:
c.execute("""
select c.contactFirstName, c.contactLastName,
prd.productName, od.quantityOrdered, o.orderDate

from customers c, orders o, orderDetails od,
products prd

where c.customerNumber = o.customerNumber
and o.orderNumber = od.orderNumber
and od.productCode = prd.productCode

order by orderDate DESC

limit 0,10

""").fetchall()

[('Janine ', 'Labrune', '1962 LanciaA Delta 16V', '38', '2005-05-31'),
 ('Janine ', 'Labrune', '1957 Chevy Pickup', '33', '2005-05-31'),
 ('Janine ', 'Labrune', '1998 Chrysler Plymouth Prowler', '28', '2005-05-31'),
 ('Janine ', 'Labrune', '1964 Mercedes Tour Bus', '38', '2005-05-31'),
 ('Janine ', 'Labrune', '1926 Ford Fire Engine', '19', '2005-05-31'),
 ('Janine ', 'Labrune', '1992 Ferrari 360 Spider red', '28', '2005-05-31'),
 ('Janine ', 'Labrune', '1940s Ford truck', '38', '2005-05-31'),
 ('Janine ', 'Labrune', '1970 Dodge Coronet', '55', '2005-05-31'),
 ('Janine ', 'Labrune', '1962 Volkswagen Microbus', '49', '2005-05-31'),
 ('Janine ',
  'Labrune',
  '1958 Chevy Corvette Limited Edition',
  '31',
  '2005-05-31')]

## Summary

In this lab, you practiced your knowledge on one-to-many and many-to-many relationships!